
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1000px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #0056b3;
}
.title {
    margin-top: -50px;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.next, .previous {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.next, .previous:hover {
    opacity: 0.8;
}
.question {
    margin-bottom: 20px;
    font-size: 15px;
}

.code-output-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.code-block, .output-block {
    width: 48%;
    background-color: #282828;
    padding: 15px;
    border-radius: 5px;
}

pre {
    background-color: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 0.95em;
}

h3 {
    margin-bottom: 10px;
}

.output {
    background-color: #ffe6e6;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
}
