
.notes-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.notes-body-content {
    max-width: 700px;
}
.notes-body-content * {
    padding-bottom: 20px;
}
.title {
    font-weight: bold;
    font-size: 42px;
}

.text {
    font-size: 25px;
}

.assignments-list {
    list-style-type: none;
    padding: 0;
}

.assignments-list li {
    font-size: 25px;
    margin-bottom: 10px;
}

.assignments-list li a {
    color: rgb(163, 163, 163);
    text-decoration: none;
    transition: color 0.3s;
}

.assignments-list li a:hover {
    color: white;
}
.text ol {
    font-size: 40px;
    
}

.gobackBtn {
    border: none;
    color: white;
    background-color: black;
    font-size: 50px;
    margin: 30px -80px;
    transition: transform 0.5s;
    cursor: pointer;
    
}
.gobackBtn:hover {
    transform: scale(1.2);
}
